<p id="notice"><%= notice %></p>

<div class="row">
  <% if User.inactive.any? %>
    <div class="users inactive-users clearfix">
      <% User.inactive.each do |user| %>
        <%= image_tag user.photo, :class => 'photo' %>
      <% end %>
      <h3>are slacking off.</h3>
    </div>
  <% end %>


  <% @states.each do |state| %>
    <div class="span3">
      <h3><%= state.name %></h3>

      <% state.stories.normal.each do |story| %>
        <%= render 'stacks/stack', :story => story %>
      <% end %>

    </div>
  <% end %>
</div>