<p id="notice"><%= notice %></p>

<div class="row">
  <%= render 'inactive_users' %>

  <%= link_to 'Refresh', root_path, :id => 'refresh' %>

  <% @states.each do |state| %>
    <%= render state %>
  <% end %>
</div>
