<li class="stack">
  <%= render card.todos %>

  <%= div_for card do %>
    <p>
      <%= card.title %>

      <% if card.users.any? %>
        (<%= card.users.map(&:name).to_sentence %>)
      <% end %>
    </p>
  <% end %>
</li>
