// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 1px;
}

a, a:hover {
  color: #1385BE;
}

#new-story {
  display: none;
  margin-bottom: 30px;
}

#story_name {
  width: 130px;
  height: 70px;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#new-story .hidden {
  display: none;
}