.stack {
  position: relative;
  min-height: 100px;
  width: 160px;
  margin-bottom: 32px;
}

#expanded-stack {
  display: none;
  position: absolute;
  width: 920px;
  background-color: #3B3B3B;
  opacity: 0.9;
  border: 4px solid white;
  padding-top: 16px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #3B3B3B;
     -moz-box-shadow: 0 0 10px #3B3B3B;
          box-shadow: 0 0 10px #3B3B3B;
}

.card {
  height: 80px;
  width: 140px;
  border: 1px solid #CCCCCC;
  padding: 10px;
  background-image: url(/images/paper_2.png);
  background-repeat: repeat;
  overflow: hidden;
  color: #1385BE;
  -webkit-box-shadow: 0px 0px 1px #CCC;
     -moz-box-shadow: 0px 0px 1px #CCC;
          box-shadow: 0px 0px 1px #CCC;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.stack .card {
  position: absolute;
  top: 0;
  left: 0;
}

#expanded-stack .card {
  float: left;
  margin-left: 20px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0 0 0;
     -moz-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.card.task {
  background-image: url(/images/paper_blue.png);
}

.card.attached_image {
  padding: 0;
  width: 160px;
  height: 100px;
}

.card.attached_image img {
  max-height: 120px;
  max-width: 280px;
}

.stack .card.rotate-1 {
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
          transform: rotate(5deg);
}

.stack .card.rotate-2 {
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
          transform: rotate(10deg);
}

.stack .card.rotate-3 {
  -webkit-transform: rotate(7deg);
     -moz-transform: rotate(7deg);
          transform: rotate(7deg);
}
.stack .card.rotate-4 {
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.stack .card.rotate-5 {
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.stack .card.rotate-6 {
  -webkit-transform: rotate(-7deg);
     -moz-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.stack .users {
  position: absolute;
  top: 75px;
  left: 10px;
  width: 100%;
}

.stack .progress {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #FF3B52;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 12px;
  padding: 8px;
  height: 16px;
  width: 16px;
  color: white;
  -webkit-box-shadow: 1px 1px 3px #3B3B3B;
     -moz-box-shadow: 1px 1px 3px #3B3B3B;
          box-shadow: 1px 1px 3px #3B3B3B;
}

.stack .progress.in-progress {
  background-color: #F7C93E;
}

.stack .progress.done {
  background-color: #42C282;
}