// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  margin-bottom: 32px;
}

#header p {
  text-align: center;
}

h4 {
  margin-bottom: 16px;
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
}

.comment {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #3B3B3B;
}

.comment.last {
  border-bottom: none;
}