// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inactive-users {
  margin-bottom: 12px;
  padding: 12px;
}

#inactive-users h3 {
  display: inline;
  font-family: helvetica, arial, sans-serif;
}

.users .photo {
  display: inline-block;
  float: left;
  max-height: 40px;
  max-width: 40px;
  margin-right: 6px;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 2px #444;
     -moz-box-shadow: 0px 0px 2px #444;
          box-shadow: 0px 0px 2px #444;
}
